@using MVC3.Models
@model Employee

@{
    ViewBag.Title = "Registration";
}

<form method="post">
    <h1>Registration</h1>
    Id: @Html.TextBoxFor(m => m.Id) @Html.ValidationMessageFor(m => m.Id)
    Name: @Html.TextBoxFor(m => m.Name) @Html.ValidationMessageFor(m => m.Name)
    Email: @Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)
    <button>Submit</button>
</form>
